@font-face {
    font-family: 'YS Text';
    src: url("../fonts/text-regular.woff");
    font-weight: 400;
}
@font-face {
    font-family: 'YS Text';
    src: url("../fonts/text-medium.woff");
    font-weight: 500;
}
@font-face {
    font-family: 'YS Text';
    src: url("../fonts/text-black.woff");
    font-weight: 900;
} 
body {
    overflow-x: hidden;
}
.sticky-button {
    display: none;
}
button {
    height: 65px;
    width: 318px;
    border-radius: 36px;
    background-color:#FFDE40;
    color: #21201F;
    font-family: 'YS Text';
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    border: none;
    margin-top: 35px;
    box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
}
.glow-on-hover {
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 36px;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 36px;
}
.glow-on-hover:active {
    color: #000
}
.glow-on-hover:active:after {
    background: transparent;
}
.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background:#FFDE40;
    left: 0;
    top: 0;
    border-radius: 36px;
}
@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
p {
    font-family: 'YS Text';
    font-weight: 500;
    font-size: 24px;
    line-height: 28.8px;
    color:  #21201F;
}
h2 {
    font-family: 'YS Text';
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    max-width: 827px;
    margin-bottom: 48px;
}
.content-center {
    max-width: 935px;
    margin: auto;
}
.home-page {
    position: relative;
    display: flex;
    .content-center {
        display: flex;
    }
    .text {
        max-width: 420px;
        z-index: 4;
        margin-top: 125px;
    }
    h1 {
        font-family: 'YS Text';
        font-weight: 900;
        font-size: 72px;
        line-height: 72px;
        margin-bottom: 48px;
        margin-top: 72px;
    }
    p {
        font-family: 'YS Text';
        font-weight: 500;
        font-size: 24px;
        line-height: 31.2px;
    }
    .new-price {
        background: radial-gradient( #E0B8FF 100%, #B6B9FF 100%);
        border-radius: 500px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .old-price {
        border: 1px;
        color:  #808080;
        background: radial-gradient(rgba(224, 184, 255, 0.3), rgba(182, 185, 255, 0.3), #E0B8FF 100%, #B6B9FF 100%, #FFFFFF 63%);
        border-radius: 500px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 12px;
        padding-right: 12px;
    }
    .scooter{
        position: relative;
        z-index: 3;
        left: -127px;
        top: 59px;
        .circle-img {
            position: absolute;
            top: 350px;
            left: 225px;
        }
    }
}
.home-page::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, #FFF 100%);
    z-index: 2;
}
.home-page::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.22;
    z-index: 1;
    background: var(--Linear, linear-gradient(0deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.20) 100%), linear-gradient(90deg, #FF5C4D 0%, #EB469F 25%, #8341EF 72%, #3F68F9 100%));
}
.advantages {
    padding-bottom: 128px;
    h1 {
        font-family: 'YS Text';
        font-weight: 900;
        font-size: 56px;
        line-height: 56px;
        max-width: 827px;
        margin-bottom: 48px;
        margin-top: 127px;
    }
    .wrapper {
        display: flex;
        flex-wrap: wrap;
        max-width: 1000px;
        gap: 61px 112px;
        .element {
            width: 400px;
        }
        .element img {
            width: 83px;
            margin-right: 16px;   
        }
    }
}
.privilege {
    p {
        max-width: 442px;
    }
    .swiper {
        display: none;
    }
    .pictures {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 934px;
        height: 940px;
        transform: rotate(2deg);
        gap: 20px;
        margin-top: 70px;
        img {
            max-width: 456px;
            max-height: 456px;
            border-radius: 50px;
        }
        .img-margin {
            margin-top: -120px;
        }
    }
    .pictures-mobile img {
        width: 344px;
        height: 344px;
        border-radius: 50px;
    }
    .quotes::before {
        content: url("../img/cfee0016.png");
        position: absolute;
        z-index:  1;
        top: -275px;
        right: -175px;
    }
    .cup::before{
        content: url("../img/smkt0010 6.png");
        position: absolute;
        z-index:  1;
        top: 500px;
        left: 580px;
    }
    .icon::before {
        content: url("../img/smkt0008-2(1).png");
        position: absolute;
        z-index:  1;
        left: -259px;
        top: -130px;
    }
}
.buy-this {
    padding-bottom: 128px;
    .text-and-img {
        display: flex;
        h2 {
            width: 407px;
            margin-top: 104px;
        }
        p {
            max-width: 419px;
        }
        .img-parent {
            position: relative;
            width: 742.614px;
            height: 742.614px;    
        }
        .img-elem {
            position: absolute;
            left: 85px;
            top: 219px;
        }
        .scoot {
            width: 742.614px;
            height: 742.614px;
            transform: rotate(-13.159deg);
            position: absolute;
            left: 0;
            top: 0;
        }
        .shadow {
            border-radius: 412.783px;
            opacity: 0.29;
            background: #8241EF;
            filter: blur(100px);
            width: 412.783px;
            height: 369.042px;
            transform: rotate(-140.03deg);
            flex-shrink: 0;
            position: absolute;
            left: 239px;
            top: 131px;
        }
    }
    .img-parent-2elem {
        left: -200px;
        .shadow-2elem {
            left: 140px;
            top: 200px;
        }
    }
    .remark {
        max-width: 906px;
        color: #C5C5C5;
        font-family: 'YS Text';
        font-size: 13px;
        font-weight: 400;
        line-height: 120%; 
        margin-top: 30px;
        a {
            text-decoration: none;
            color: #C5C5C5;
            font-family: 'YS Text';
            font-size: 13px;
            font-weight: 400;
            line-height: 120%; 
            -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease; 
        }
        a:hover{
            color:  #21201F;
        }
    }    
}
@media (max-width: 1390px) {
    .home-page {
        .content-center {
            flex-direction: column;
        }
    }
    .privilege {
        .swiper {
           display: block;
           text-align: center;
           margin-top: 47px;
           overflow: visible;
        }
        .swiper-container {
            position: relative;
        }
        .button-swiper {
            display: flex;
            justify-content: center;
            gap: 12px;
            margin-top: 24px;
        }
        .swiper-button-prev-cst {
            content: url("../img/Group 120867.png");
            cursor: pointer;
            transform: rotate(180deg);
            opacity: 0.5;
        }
        .swiper-button-next-cst {
            content: url("../img/Group 120867.png");
            cursor: pointer;
            opacity: 0.5;
        }
        .swiper-button-prev-cst:hover {
            opacity: 1;
            transition: all 0.2s ease-out;
        }
        .swiper-button-next-cst:hover {
            opacity: 1;
            transition: all 0.2s ease-out;
        }
        .quotes::before {
            content: url(../img/cfee0016.png);
            position: absolute;
            z-index: 1;
            top: -111px;
            right: 169px;
        }
        .pictures-none {
            display: none;
        }
    }
    .buy-this {
        .img-parent{
            display: none;
        }
        .img-parent-2elem {
            left: 0;
            display: block;
        }
        .text-and-img {
            display: flex;
            flex-direction: column;
        }
    }
}
@media (max-width: 1080px) {
    .home-page {
        padding: 32px;
        h1 {
            margin-top: 32px;
            margin-bottom: 35px;
        }
        .text { 
            margin-top: 0;
        }
        .scooter {
            left: -70px;
        }
    }
    .advantages {
        padding: 32px 32px 72px 32px;
    }
    .privilege {
        h2 {
            padding-left: 32px;
            padding-right: 32px;
        }
        p {
            padding-left: 32px;
            padding-right: 32px;
        }
        .quotes::before {
            top: -150px;
            right: 140px;
        }
    }
    .buy-this {
        padding: 32px 32px 128px 32px;
        .text-and-img h2 {
            margin-top: 26px;
        }
    }
}
@media (max-width: 800px) {
    .home-page {
        .scooter {
            left: -45px;
             .scooter-img {
                 width: 470px;
            }
             .circle-img {
                top: 205px;
                left: 135px;
                width: 105px;
            }
        }
    }
    .buy-this {
        .text-and-img {
            .scoot {
                width: 470px;
                height: 470px;
            }
            .img-parent-2elem {
                width: 470px;
                height: 470px;
                .shadow-2elem {
                    left: 29px;
                    top: 83px;
                    width: 300px;
                    height: 300px;
                }
            }
        }
    }
    .privilege {
        .quotes::before {
            right: 23px;
        }
    }
    .advantages {
        .element {
        width: 400px;
        display: flex;
        align-items: center;
        }
    }
}
@media (max-width: 480px) {
    .sm-hidden {
        display: none;
    }
    .sticky-button {
        position: sticky;
        height: 0;
        top: 80%;
        z-index: 6;
        display: flex;
        justify-content: center;
    }
    .mobile-button {
        display: flex;
        justify-content: center;
    }
    p {
        font-size: 16px;
        line-height: 100%;
    }
    h2 {
        font-size: 32px;
        line-height: 100%;
        max-width: 311px;
    }
    button { 
        font-size: 18px;
        width: 311px;
        height: 49px;
        width: 311px;
    }
    .home-page {
        .new-price {
            padding: 5px 8px 5px 7px;
        }
        .old-price {
            padding: 5px 8px 5px 7px;
        }
        p {
            font-size: 18px;
            line-height: 130%;
        }
        h1 {
            width: 311px;
            font-size: 36px;
            line-height: 100%;  
        }
        .scooter {
           left: 0;
            .scooter-img {
                width: 319px;
            }
            .circle-img {
                top: 137px;
            left: 86px;
                width: 79px;
            }
        }    
    }
    .advantages {
        h1 {
            font-size: 32px;
            line-height: 100%;
            max-width: 311px;
            margin-top: 10px;
        }
        .wrapper {
            gap: 27px;
        }
    }
    .buy-this {
        .text-and-img {
            .scoot {
                width: 283px;
                height: 283px;
            }
            .img-parent-2elem {
                width: 283px;
                height: 283px;
                .shadow-2elem {
                    left: 50px;
                    top: 0px;
                    width: 215.685px;
                    height: 192.829px;
                }
            }
        }
    }
    .privilege {
        .quotes::before {
            right: -90px;
        }
    }
}